<div class="sidebar">
    <ul>
      <li><a routerLink="/dashboard" routerLinkActive="active">🏠 Dashboard</a></li>
      <li><a routerLink="/profile" routerLinkActive="active">👥 User Management</a></li>
      <li><a routerLink="/booking-history" routerLinkActive="active">✅ Approvals</a></li>
      <li><a routerLink="/blogs" routerLinkActive="active">📝 Blogs</a></li>
      <li><a routerLink="/transactions" routerLinkActive="active">📢 Special Notices</a></li>
      <li><a routerLink="/complaints" routerLinkActive="active">📅 Calender</a></li>
      <li><a routerLink="/my-timetable" routerLinkActive="active">📄 Reports</a></li>
      <li><a routerLink="/ratings" routerLinkActive="active">📊 Analytics</a></li>
      <li><a routerLink="/announcements" routerLinkActive="active">⚙️ System Maintenance</a></li>
      <li><a routerLink="/health-tips" routerLinkActive="active">💬 Feedback Management</a></li>
      <li><a routerLink="/settings" routerLinkActive="active">⚙️ Settings</a></li>
      <li><a routerLink="/sign-out" routerLinkActive="active">🚪 Sign Out</a></li>
    </ul>
  </div>
  