<div class="sidebar">
    <ul>
      <li><a routerLink="/player/dashboard" routerLinkActive="active">🏠 Dashboard</a></li>
      <li><a routerLink="/player/profile" routerLinkActive="active">👤 Profile</a></li>
      <li><a routerLink="/player/booking-history" routerLinkActive="active">📅 Booking History</a></li>
      <li><a routerLink="/player/transactions" routerLinkActive="active">💳 Transactions</a></li>
      <li><a routerLink="/player/complaints" routerLinkActive="active">📢 Complaints</a></li>
      <li><a routerLink="/player/my-timetable" routerLinkActive="active">🕒 My Timetable</a></li>
      <li><a routerLink="/player/ratings" routerLinkActive="active">⭐ My Ratings</a></li>
      <li><a routerLink="/player/announcements" routerLinkActive="active">📢 Announcements</a></li>
      <li><a routerLink="/player/Player-Health" routerLinkActive="active">🩺 Player Health</a></li>
      <li><a routerLink="/player/settings" routerLinkActive="active">⚙️ Settings</a></li>
      <li><a routerLink="/sign-out" routerLinkActive="active">🚪 Sign Out</a></li>
    </ul>
  </div>