<div class="sidebar">
  <h3 class="logo">🏆 PlayFit</h3>
  <ul>
    <li><a routerLink="/dashboard" routerLinkActive="active">📊 Dashboard</a></li>
    <li><a routerLink="/stadium-list" routerLinkActive="active">🏟️ Book a Stadium</a></li>
    <li><a routerLink="/booking-history" routerLinkActive="active">📅 My Schedule</a></li>
    <li><a routerLink="/view-session-details" routerLinkActive="active">👀 View session details</a></li>
    <li><a routerLink="/private-playing-requests" routerLinkActive="active">🔒 Private Playing Requests</a></li>
    <li><a routerLink="/complaints" routerLinkActive="active">📢 Complaints</a></li>
    <li><a routerLink="/view-ratings" routerLinkActive="active">⭐ View ratings</a></li>
    <li><a routerLink="/salary-details" routerLinkActive="active">💰 Salary Details</a></li>
    <li><a routerLink="/blog-posts" routerLinkActive="active">📝 Blog Posts</a></li>
    <li><a routerLink="/settings" routerLinkActive="active">⚙️ Settings</a></li>
    <li><a routerLink="/sign-out" routerLinkActive="active">🚪 Sign Out</a></li>
  </ul>
</div>