<div class="sidebar">
  <h3 class="logo">🏆 PlayFit</h3>
  <ul>
    <li><a routerLink="/coach/dashboard" routerLinkActive="active">📊 Dashboard</a></li>
    <li><a routerLink="/coach/stadium-list" routerLinkActive="active">🏟️ Book a Stadium</a></li>
    <li><a routerLink="/coach/booking-history" routerLinkActive="active">📅 My Schedule</a></li>
    <li><a routerLink="/coach/view-session-details" routerLinkActive="active">👀 View session details</a></li>
    <li><a routerLink="/coach/private-playing-requests" routerLinkActive="active">🔒 Private Playing Requests</a></li>
    <li><a routerLink="/coach/complaints" routerLinkActive="active">📢 Complaints</a></li>
    <li><a routerLink="/coach/view-ratings" routerLinkActive="active">⭐ View ratings</a></li>
    <li><a routerLink="/coach/salary-details" routerLinkActive="active">💰 Salary Details</a></li>
    <li><a routerLink="/coach/coach-blog-post" routerLinkActive="active">📝 Blog Posts</a></li>
    <li><a routerLink="/coach/settings" routerLinkActive="active">⚙️ Settings</a></li>
    <li><a routerLink="/coach/sign-out" routerLinkActive="active">🚪 Sign Out</a></li>
  </ul>
</div>