.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px;
  font-family: 'Lora', serif;
}

h2, h3 {
  color: #333;
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.add-btn, .submit-btn, .reset-btn, .delete-btn, .confirm-map-btn {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}
.locate-btn {
  background-color: #17a2b8;
  color: white;
  border: none;
  padding: 8px 16px;
  margin-right: 8px;
  border-radius: 5px;
}

.confirm-btn {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 8px 16px;
  margin-right: 8px;
  border-radius: 5px;
}

.map-confirm-btn {
  background-color: #ffc107;
  color: black;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
}


.add-btn {
  background-color: #28a745;
  color: white;
}

.add-btn:hover {
  background-color: #218838;
}

.submit-btn {
  background-color: #000080;
  color: white;
}

.submit-btn:hover {
  background-color: #020271;
}

.reset-btn {
  background-color: #6c757d;
  color: white;
}

.reset-btn:hover {
  background-color: #5a6268;
}

.delete-btn {
  background-color: #dc3545;
  color: white;
}

.delete-btn:hover {
  background-color: #c82333;
}

.confirm-map-btn {
  background-color: #17a2b8;
  color: white;
}

.confirm-map-btn:hover {
  background-color: #138496;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.table th, .table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.table th {
  background-color: #f2f2f2;
}

.image-preview {
  margin-top: 10px;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.img-fluid {
  max-width: 100px;
  height: auto;
}

.error {
  color: #dc3545;
  margin-top: 5px;
}

.confirmation {
  color: #28a745;
  margin-top: 5px;
}