<!-- <h1 [style.marginTop]="marginTop">Record Injury Details</h1>
<br>
<div class="record-injuries container"  >
  <div class="bd-example p-3" [ngStyle]="{'background-color':bgColor1}">
    <form>
      <h4>1. Player Information</h4>
      <br>
    
      <div class="form-group row">
        <label for="inputname" class="col-sm-2 col-form-label">Player Name :</label>
        <div class="col-sm-10">
          <input type="text" class="form-control text-center" id="inputname" [placeholder]="placeholder1"  [ngStyle]="{'width' : barWidth,'background-color':bgColor}">
        </div>
      </div> <br> -->

      <!-- player id -->
      <!-- <div class="form-group row">
        <label for="inputID" class="col-sm-2 col-form-label">Player ID :</label>
        <div class="col-sm-10">
          <input type="text" class="form-control text-center" id="inputID" [placeholder]="placeholder2"  [ngStyle]="{'width' : barWidth,'background-color':bgColor}" [maxLength]="idSize">
        </div>
      </div>
      <br> -->

      <!-- player age -->
      <!-- <div class="form-group row">
        <label for="inputAge" class="col-sm-2 col-form-label">Age :</label>
        <div class="col-sm-10">
          <input type="number" class="form-control text-center" id="inputAge" [placeholder]="placeholder3"  [ngStyle]="{'width' : barWidth,'background-color':bgColor}">
        </div>
      </div>
      <br>    -->

      <!-- <hr>
      <br>
      <h4>2. Injury Details</h4>
      <br> -->

      <!-- injury day -->
      <!-- <div class="form-group row">
        <label for="inputInjuryDate" class="col-sm-2 col-form-label">Date of Injury :</label>
        <div class="col-sm-10">
          <input type="date" class="form-control text-center" id="inputInjuryDate" [ngStyle]="{'width' : barWidth,'background-color':bgColor}">
        </div>
      </div> <br> -->

      <!-- injury date -->
      <!-- <div class="form-group row">
        <label for="inputInjuryTime" class="col-sm-2 col-form-label">Time of Injury :</label>
        <div class="col-sm-10">
          <input type="time" class="form-control text-center" id="inputInjuryTime" [ngStyle]="{'width' : barWidth,'background-color':bgColor}">
        </div>
      </div> <br>   -->

      <!-- type of injury -->
      <!-- <div class="form-group row">
        <label for="inputSelectTypeInjury" class="col-sm-2 col-form-label">Type of Injury :</label> 
        <div class="col-sm-10">
          <div class="dropdown-wrapper">
            <select class="form-control text-center" id="inputSelectTypeInjury" [ngStyle]="{'width' : barWidth,'background-color':bgColor}">
              <option value="" disabled selected  >Select type of injury</option>
              <option *ngFor="let injury of injuryTypes">{{injury}}</option>
            </select>
            <i class="bi bi-chevron-down dropdown-icon"></i> <Bootstrap Icon -->
          <!-- </div>
          </div>
     </div>  
        <br> -->

     <!-- injury severity type -->
     <!-- <div class="form-group row">
      <label for="inputSelectInjuryServerity" class="col-sm-2 col-form-label">Injury Serverity :</label> 
      <div class="col-sm-10">
        <div class="dropdown-wrapper">
          <select class="form-control text-center" id="inputSelectInjuryServerity" [ngStyle]="{'width' : barWidth,'background-color':bgColor}">
            <option value="" disabled selected  >Select injury serverity</option>
            <option [value]="serverity.indexOf" *ngFor="let serverity of injuryServerity">{{serverity}}</option>
          </select>
          <i class="bi bi-chevron-down dropdown-icon"></i> <!-- Bootstrap Icon -->
        <!-- </div>
        </div>
   </div>  
    <br>  -->

<!-- 
  <hr>
  <br>
  <h4>3. Incident Details</h4>
  <br> -->


       <!-- cause of injury -->
       <!-- <div class="form-group row">
        <label for="inputinjuryCause" class="col-sm-2 col-form-label">Cause of injury :</label> 
        <div class="col-sm-10">
          <div class="dropdown-wrapper">
            <select class="form-control text-center" id="inputinjuryCause" [ngStyle]="{'width' : barWidth,'background-color':bgColor}">
              <option value="" disabled selected  >Select cause of injury</option>
              <option [value]="cause.indexOf" *ngFor="let cause of injuryCause">{{cause}}</option>
            </select>
            <i class="bi bi-chevron-down dropdown-icon"></i> <!-- Bootstrap Icon -->
          <!-- </div>
          </div>
     </div>  
      <br>  -->

      <!-- first aid give or not-->
    <!-- <div class="form-group row">
      <fieldset class="form-group">
        <div class="row">
          <legend class="col-form-label col-sm-2 pt-0">First Aid given ?</legend>
          <div class="col-sm-10 d-flex gap-5">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked="">
              <label class="form-check-label" for="gridRadios1">
                Yes
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
              <label class="form-check-label" for="gridRadios2">
               No
              </label>
            </div>
           -->
          <!-- </div>
        </div>
      </fieldset>
    </div>
<br> -->

<!-- docotr details -->
<!-- <div class="form-group row">
  <label for="inputDname" class="col-sm-2 col-form-label">Doctor/Health Officer Name :</label>
  <div class="col-sm-10">
    <input type="text" class="form-control text-center" id="inputDname" [placeholder]="placeholder4"  [ngStyle]="{'width' : barWidth,'background-color':bgColor}">
  </div>
</div> <br>
    -->
<!-- treatment plan -->
<!-- <div class="form-group row">
  <label for="inputTreatments" class="col-sm-2 col-form-label">Treatment Plan :</label>
  <div class="col-sm-10">
    <textarea class="form-control" id="inputTreatments" rows="4"  [ngStyle]="{'width' : barWidth,'background-color':bgColor}" [maxLength]="idSize"></textarea>
  </div>
</div>
<br> -->

<!-- xrays reports -->
<!-- <div class="form-group row">
  <label for="inputreports" class="col-sm-2 col-form-label">Upload Medical Reports/X-rays :</label>
  <div class="col-sm-10">
    <input class="form-control" type="file" id="formFile" [ngStyle]="{'width' : barWidth,'background-color':bgColor}">
  </div>
</div> <br><br> -->


<!-- <button type="submit" class="btn btn-primary mx-2" [ngStyle]="{'background-color': primaryColor, 'border-color': primaryColor,'width':marginLeft}">Save</button>
<button type="submit" class="btn btn-primary" disabled [ngStyle]="{'background-color': primaryColor, 'border-color': primaryColor,'width':marginLeft}">Reset Form</button>

    </form>
    </div>
</div> -->

<!-- bootstrap-icons -->
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css"> --> 
<form [formGroup]="injuryForm" (ngSubmit)="submitInjury()" class="container mt-4 border p-4 rounded shadow-sm bg-light">
  <h1 class="mb-4" [style.marginTop]="marginTop">Record Injury Details</h1>
  <h4>1. Player Information</h4>
  <br>
  <div class="row mb-3">
    <!-- player name -->
    <div class="col-md-6">
      <label for="player_name" class="form-label">Player Name:</label>
      <input type="text" id="player_name" placeholder="Enter player name" class="form-control" formControlName="player_name" required>
    </div>
  
    <!-- player id -->
    <div class="col-md-6">
      <label for="player_id" class="form-label">Player ID:</label>
      <input type="text" id="player_id" placeholder="Enter player ID" class="form-control" formControlName="player_id" required>
    </div>
  </div>

  <div class="row mb-3">
    <!-- age -->
    <div class="col-md-6">
      <label for="age" class="form-label">Age:</label>
      <input type="number" id="age" placeholder="Enter player age" class="form-control" formControlName="age" required min="1">
    </div>

  </div>
  <br>
  <hr>
  <h4>2. Injury Details</h4>
  <br>
  <div class="row mb-3">
      <!-- injury day -->
    <div class="col-md-6">
      <label for="date_of_injury" class="form-label">Date of Injury:</label>
      <input type="date" id="date_of_injury" class="form-control" formControlName="date_of_injury" required>
    </div>

        <!-- injury time -->
        <div class="col-md-6">
          <label for="time_of_injury" class="form-label">Time of Injury:</label>
          <input type="time" id="time_of_injury" class="form-control" formControlName="time_of_injury" required>
        </div>
  </div>
 
  <div class="row mb-3">
      <!-- injury type -->
    <div class="col-md-6">
      <label for="type_of_injury" class="form-label ">Type of Injury:</label>
      <select id="type_of_injury"  class="form-select" formControlName="type_of_injury" required>
        <option value="" disabled selected class="text-muted">Select type of injury</option>
        <option *ngFor="let type of injuryTypes" [value]="type">{{ type }}</option>
      </select>
    </div>

     <!-- Injury Severity -->
     <div class="col-md-6">
      <label for="injury_severity" class="form-label">Injury Severity</label>
      <select id="injury_severity" class="form-select" formControlName="injury_severity" required>
        <option value="" disabled selected class="text-muted">Select injury severity</option>
        <option *ngFor="let level of injuryServerity" [value]="level">{{ level }}</option>
      </select>
    </div>
  </div>
<br><hr> 

<h4>3. Incident Details</h4>
<br>
  <div class="row mb-3">
   <!-- first aid given -->
    <div class="col-md-6">
      <label for="first_aid_given" class="form-label d-block">First Aid Given:</label>
      <div class="form-check form-switch">
        <input type="checkbox" id="first_aid_given" class="form-check-input" formControlName="first_aid_given">
        <label class="form-check-label" for="first_aid_given"></label>
      </div>
    </div>

    <div class="col-md-6">
      <label for="health_officer_name" class="form-label">Health Officer Name:</label>
      <input type="text" id="health_officer_name" class="form-control" formControlName="health_officer_name" required>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-6">
      <label for="treatment_plan" class="form-label">Treatment Plan:</label>
      <textarea id="treatment_plan" class="form-control" formControlName="treatment_plan" rows="3"></textarea>
    </div>
  </div>

<br>
<hr>
<h4>4. Upload Medical Reports/X-rays</h4>
<br>
<div class="row mb-3">
  <div class="col-md-6">
    <label for="medical_files" class="form-label">Upload X-Ray/Medical Reports:</label>
    <input type="file" id="medical_files" class="form-control" multiple (change)="onFileSelected($event)" accept=".jpg,.jpeg,.png,.pdf">
    <small class="form-text text-muted">Accepted formats: JPG, PNG, PDF. Max 5 files.</small>
  </div>
</div>

<div class="row mb-3" *ngIf="selectedFiles.length > 0">
  <div class="col-md-6">
    <p><strong>Selected Files:</strong></p>
    <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let file of selectedFiles; let i = index">
        {{ file.name }}
        <button type="button" class="btn btn-sm btn-danger" (click)="removeFile(i)">Remove</button>
      </li>
    </ul>
  </div>
</div>
<div *ngIf="uploading">
  <p>Uploading files, please wait...</p>
</div>

<br>
  <button type="submit" class="btn w-50" [ngStyle]="{'background-color': primaryColor,'color':'#ffffff'}" [disabled]="injuryForm.invalid">Submit Injury Record</button>
</form>
