@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css");

.d-flex {
  display: flex;
  flex-wrap: nowrap;
  gap: 1.5rem;
}

.card-container {
  flex: 0 0 auto;
  width: 16rem;
}

.card {
  padding: 1.2rem;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 16rem;
  height: 10rem;
}

.card-body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-subtitle {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: #000;
  text-decoration: none;
}

.card-subtitle:hover {
  text-decoration: underline;
}

.card-divider {
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  margin: 0.5rem 0;
}

.card-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 0.85rem;
  margin: 0;
  flex-grow: 1;
  line-height: 1.4;
}