<div class="complaints">
    <h2>Submit A Complaint</h2>
    <form>
      <label>Your Name</label>
      <input type="text" placeholder="Enter your name">
  
      <label>Contact Number</label>
      <input type="text" placeholder="Enter your phone number">
  
      <label>Select Stadium</label>
      <select>
        <option value="">Select stadium</option>
      </select>
  
      <label>User Type</label>
      <select>
        <option value="">Select your type</option>
      </select>
  
      <label>Complaint</label>
      <textarea placeholder="Type your complaint"></textarea>
  
      <button type="submit">Submit</button>
    </form>
  </div>
  