<div class="sidebar">
  <ul>
    <li><a routerLink="/dashboard" routerLinkActive="active">🏠 Dashboard</a></li>
    <!-- <li><a routerLink="/profile" routerLinkActive="active">👤 Profile</a></li> -->
    <li><a [routerLink]="'appointments'" routerLinkActive="active">📅 Appointments</a></li>
    <li><a [routerLink]="'recordInjuries'" routerLinkActive="active">🤕 Record Injuries</a></li>
    <li><a [routerLink]="'playersHealthRecords'" routerLinkActive="active">🩺 Players' Health Records</a></li>
    <li><a [routerLink]="'blogs'" routerLinkActive="active">📝 Blogs</a></li>
    <li><a [routerLink]="'safetyAdvice'" routerLinkActive="active">⚠️ Safety Advice</a></li> 
    <br>
    <br>
    <br>
    <br>
    <hr>
    <li><a [routerLink]="'settings'" routerLinkActive="active">⚙️ Settings</a></li>
    <li><a [routerLink]="'signOut'" routerLinkActive="active">🚪 Sign Out</a></li>
  </ul>
</div>

<router-outlet></router-outlet>
