<div class="sidebar">
  <ul>
    <li><a routerLink="/health/dashboard" routerLinkActive="active">🏠 Dashboard</a></li>
    <li><a routerLink="/health/appointments" routerLinkActive="active">📅 Appointments</a></li>
    <li><a routerLink="/health/players-health-records" routerLinkActive="active">🩺 My Appointments</a></li>
    <li><a routerLink="/health/safety-advice-create" routerLinkActive="active">🛡️ Create Safety Advice</a></li>
    <li><a routerLink="/health/safety-advice" routerLinkActive="active">⚠️ Safety Advice</a></li>
    <br>
    <br>
    <br>
    <br>
    <hr>
    <li><a routerLink="/health/signout" routerLinkActive="active">🚪 Sign Out</a></li>
  </ul>
</div>