<div class="sidebar">
  <ul>
    <li><a routerLink="/health/dashboard" routerLinkActive="active"><i class="bi bi-house-door" style="color: #000080;"></i> Dashboard</a></li>
    <li><a routerLink="/health/appointments" routerLinkActive="active"><i class="bi bi-calendar-check" style="color: #000080;"></i> Appointments</a></li>
    <li><a routerLink="/health/players-health-records" routerLinkActive="active"><i class="bi bi-clipboard2-pulse" style="color: #000080;"></i> My Appointments</a></li>
    <li><a routerLink="/health/safety-advice-create" routerLinkActive="active"><i class="bi bi-shield-plus" style="color: #000080;"></i> Create Safety Advice</a></li>
    <li><a routerLink="/health/safety-advice" routerLinkActive="active"><i class="bi bi-exclamation-triangle" style="color: #000080;"></i> Safety Advice</a></li>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <hr>
    <li><a routerLink="/health/profile" routerLinkActive="active"><i class="bi bi-person-circle" style="color: #000080;"></i> Profile</a></li>
    <li><a routerLink="/health/signout" routerLinkActive="active"><i class="bi bi-box-arrow-right" style="color: #000080;"></i> Sign Out</a></li>
  </ul>
</div>