.schedule-container {
    font-family: sans-serif;
    padding: 20px;
    max-width: 1000px;
    margin: 25px auto 20px 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .schedule-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 18px;
  }
  
  .schedule-table th,
  .schedule-table td {
    border: 2px solid #1b1818;
    padding: 15px;
    text-align: center;
  }
  
  .schedule-table th {
    font-weight: 600;
    background-color: #f0f0f0;
  }
  
  .schedule-table td {
    text-align: left;
  }
  
  .schedule-table tr:not(:last-child) {
    border-bottom: 2px solid #1b1818;
  }
  
  .schedule-table button {
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background-color: #f0f0f0;
    transition: background-color 0.3s ease;
    white-space: nowrap;
    font-size: 16px;
    margin: 6px;
  }
  
  .schedule-table button.selected {
    background-color: #007bff;
    color: white;
  }
  
  .schedule-table button:hover {
    background-color: #e0e0e0;
  }
  
  .select-button,
  .another-button {
    padding: 14px 22px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
  }
  
  .button-container {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
  }
  
  .another-button {
    margin-left: 10px;
  }