<div class="container">
    <h1 class="heading">Stadiums List</h1>
  
    <table class="stadium-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Address</th>
          <th>Facilities</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>ST001</td>
          <td>PlayFit Arena</td>
          <td>Colombo</td>
          <td>Lights, Turf, Parking</td>
        </tr>
        <tr>
          <td>ST002</td>
          <td>FitZone Stadium</td>
          <td>Kandy</td>
          <td>Seating, Gym</td>
        </tr>
      </tbody>
    </table>
  </div>
  