.dashboard {
    padding: 20px;
    margin: 15px auto 20px 300px;
  }
  
  .dashboard-cards {
    display: flex;
    gap: 15px;
  }
  
  .card {
    padding: 20px;
    border-radius: 5px;
    width: 200px;
    text-align: center;
  }
  
  .create-session { background-color: #f8d7da; }
  .view-schedule { background-color: #cce5ff; }
  .view-session { background-color: #d4edda; }
  .review-ratings { background-color: #d1ecf1; }
  