<div class="dashboard">
  <h2><i class="bi bi-speedometer2 me-2"></i> Dashboard</h2>

  <div class="dashboard-cards">
    <div class="card create-session" (click)="navigateToBookSession()">
      <h3><i class="bi bi-plus-square-dotted me-2"></i> Create a Session</h3>
      <p>Start managing your venues by adding your stadium details.</p>
    </div>

    <div class="card view-schedule" (click)="navigateToSchedule()">
      <h3><i class="bi bi-calendar-check me-2"></i> View My Schedule</h3>
      <p>View your upcoming booked schedules.</p>
    </div>

    <div class="card view-session" (click)="navigateToSessionDetails()">
      <h3><i class="bi bi-collection-play me-2"></i> View Session Details</h3>
      <p>Check session details and player bookings for your coaching sessions.</p>
    </div>

    <div class="card review-ratings" (click)="navigateToReviewRatings()">
      <h3><i class="bi bi-bar-chart-steps me-2"></i> Review Ratings</h3>
      <p>View data and performance insights for your stadiums.</p>
    </div>
  </div>

  <div class="charts">
    <div class="chart salary-overview">
      <h3><i class="bi bi-cash-stack me-2"></i> Weekly Salary Overview</h3>
      <canvas id="salaryChart"></canvas>
    </div>
    <div class="chart sessions-overview">
      <h3><i class="bi bi-graph-up-arrow me-2"></i> Monthly Sessions Overview</h3>
      <canvas id="sessionsChart"></canvas>
    </div>
  </div>
</div>
