<div class="d-flex flex-row gap-3" [style.marginLeft]="marginLeft" [style.marginTop]="marginTop">
<div class="stadiums-dashboard">
    <header class="dashboard-header">
      <h1>Stadiums</h1>
      <div class="total-stadiums">
        <p>Total Stadiums Owned: 3</p>
      </div>
    </header>
  
    
      
      <div class="stadium-card">
        <section class="stadium-details">
            <h3>Stadium Details</h3>
  
      <div class="sports-table">
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Address</th>
              <th>Sports</th>
              <th>Action</th>
             
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td>
                <div class="action-buttons">
                    <button class="edit-btn">Edit</button>
                    <button class="delete-btn">Delete</button>
                  </div>
              </td>
            </tr>
          </tbody>
        </table>
        <button class="more-btn">Add Stadiums</button>
      </div>
    </section>
      </div>
   
  
    <section class="stadium-cards">
      <div class="stadium-card featured">
        <h4>Galaxy Sports League</h4>
        <p>A community-focused club in Bawattawasatma, offering facilities for cricket, vadayaki, and badminton.</p>
        <button class="more-btn">Add More</button>
      </div>
  
      <div class="stadium-card featured">
        <h4>Peak Performance Club</h4>
        <p>A community-focused club in Bawattawasatma, offering facilities for cricket, vadayaki, and badminton.</p>
        <button class="more-btn">Add More</button>
      </div>
  
      <div class="stadium-card featured">
        <h4>VMB Sports</h4>
        <p>A community-focused club in Bawattawasatma, offering facilities for cricket, vadayaki, and badminton.</p>
        <button class="more-btn">Add More</button>
      </div>
    </section>
  
    <section class="stadium-locations">
      <h3>Stadiums' Locations</h3>
    </section>
  </div>
</div>