<div class="blog-posts-wrapper">
  <h2>Admin Blogs</h2>
  <p class="subtitle">Pending Blog Posts</p>

  <table>
    <thead>
      <tr>
        <th>Request ID</th>
        <th>Position</th>
        <th>Name</th>
        <th>Date & Time</th>
        <th>Blog Title</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let blog of blogRequests">
        <td>{{ blog.id }}</td>
        <td>{{ blog.role }}</td>
        <td>{{ blog.first_name }} {{ blog.last_name }}</td>
        <td>{{ blog.created_at | date:'MM/dd/yyyy, hh:mm a' }}</td>
        <td>{{ blog.title }}</td>
        <td>
          <button class="approve-btn" (click)="approveBlog(blog)">Approve</button>
          <button class="decline-btn" (click)="rejectBlog(blog)">Reject</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>