<div class="dashboard-container">
  <!-- Rectangle 1: Book a Session -->
  <div class="rectangle">
    <h2>Book a Session:</h2>
    <p>Choose your preferred time and secure your spot for an exciting session today.</p>
    <button class="btn-book" mat-raised-button color="primary" (click)="openSportsModal()">Start Booking</button>
  </div>

  <!-- Rectangle 2: Explore Nearest Stadiums -->
  <div class="rectangle">
    <h2>Explore Nearest Stadiums:</h2>
    <p>Discover the best stadiums around you and find the perfect place to play!</p>
    <button class="btn-explore" mat-raised-button color="primary" (click)="exploreNearestStadium()">Explore Nearest Stadiums</button>
  </div>
</div>